.hero {
  position: relative;
  border-bottom: 2px solid #2f2e2e;
  height: 765px;

  .container {
    position: relative;
    padding-top: 122px;
    display: flex;
    z-index: 1;

    .hero-content {
      width: 532px;

      .hero-title {
        font-family: "Marcellus", sans-serif !important;
        font-style: normal;
        font-weight: 400;
        font-size: 80px;
        line-height: 88%;
        color: #ffffff;
      }

      .hero-about-list {
        display: flex;
        margin: 42px 0 25px 0;

        .hero-about-list-item {
          display: flex;
          align-items: center;
          font-weight: 800;
          font-size: 16px;
          line-height: 10px;
          color: #ffffff;
          margin-right: 18px;

          &.rating {
            margin-left: 41px;

            .rating-icon {
              margin-left: 16px;
            }
          }
        }
      }

      .hero-description {
        font-weight: 400;
        font-size: 18px;
        line-height: 156%;
        color: #c2c2c2;
        margin-bottom: 35px;
      }

      .hero-button-box {
        display: flex;
        gap: 30px;

        .button {
          img {
            margin-right: 15px;
          }
        }
      }
    }
  }

  .hero-banner {
    position: absolute;
    top: 0;
    right: 0;
    height: 99.8%;
    z-index: 0;

    img {
      width: 100%;
      height: 100%;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
    .hero-baner__gradient {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 2;
      background: linear-gradient(
        90deg,
        rgba(0, 0, 0, 1) 0%,
        rgba(0, 0, 0, 0) 20%
      );
      width: 100%;
      height: 100%;
    }
  }
}

@media screen and (max-width: 1440px) {
  .hero {
    height: 430px;

    .container {
      padding-top: 50px;

      .hero-content {
        width: 324px;

        .hero-title {
          font-size: 34px;
        }

        .hero-about-list {
          display: flex;
          margin: 24px 0 12px 0;

          .hero-about-list-item {
            font-size: 12px;

            &.rating {
              margin-left: 41px;

              .rating-icon {
                margin-left: 16px;
              }
            }
          }
        }

        .hero-description {
          font-size: 14px;
          margin-bottom: 25px;
        }

        .hero-button-box {
          gap: 20px;

          .button {
            img {
              margin-right: 8px;
              width: 8px;
            }
          }
        }
      }
    }

    .hero-banner {
      .hero-baner__gradient {
        background: linear-gradient(
          90deg,
          rgba(0, 0, 0, 1) 0%,
          rgba(0, 0, 0, 0) 50%
        );
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .hero {
    height: 300px;

    .container {
      padding-top: 30px;

      .hero-content {
        width: 312px;

        .hero-title {
          font-size: 24px;
        }

        .hero-about-list {
          margin: 14px 0 10px 0;

          .hero-about-list-item {
            font-size: 10px;

            &.rating {
              margin-left: 20px;

              .rating-icon {
                margin-left: 12px;
                height: 10px;
              }
            }
          }
        }

        .hero-description {
          font-size: 12px;
          margin-bottom: 25px;
        }

        .hero-button-box {
          gap: 20px;

          .button {
            img {
              margin-right: 8px;
              width: 8px;
            }
          }
        }
      }
    }

    .hero-banner {
      .hero-baner__gradient {
        background: linear-gradient(
          90deg,
          rgba(0, 0, 0, 1) 0%,
          rgba(0, 0, 0, 0) 233%
        );
      }
    }
  }
}
