.burger-menu_button {
  position: absolute;
  right: 16px;
  top: 18px;
  z-index: 9999999999999;
  width: 24px;
  height: 16px;
  border: none;
  cursor: pointer;
  transform: rotate(179.88deg);
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}

.burger-menu_lines::before,
.burger-menu_lines::after,
.burger-menu_lines {
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: var(--white-color);
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}
.burger-menu_lines {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 21;
  background-color: var(--white-color);
}
.burger-menu_lines::before {
  content: "";
  top: -5.5px;
  left: 0;
  height: 2px;
  background-color: var(--white-color);
}
.burger-menu_lines::after {
  content: "";
  top: 5px;
  left: 0;
  height: 2px;
  background-color: var(--white-color);
}

.header-nav_active .burger-menu_lines {
  background-color: transparent;
}
.header-nav_active .burger-menu_lines::before {
  top: 0;
  transform: rotate(45deg);
  background-color: var(--white-color);
}
.header-nav_active .burger-menu_lines::after {
  top: 0;
  transform: rotate(-45deg);
  background-color: var(--white-color);
}

.burger-menu_nav {
  box-sizing: border-box;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 20;
  display: flex;
  flex-flow: column;
  width: 0px;
  height: 0px;

  text-align: center;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: var(--white-color);
  overflow-y: auto;
  -webkit-transition: 0.8s;
  -moz-transition: 0.8s;
  -o-transition: 0.8s;
  transition: 0.8s;
  ul {
    position: absolute;
    top: 380px;
    right: 552px;
    transform: rotate(179.88deg);
  }
  &::-webkit-scrollbar {
    display: none;
    overflow-y: hidden; /* Hide vertical scrollbar */
    overflow-x: hidden;
  }
}
.header-nav_active .burger-menu_nav {
  position: fixed;
  width: 1520px;
  height: 1520px;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
  &::-webkit-scrollbar {
    display: none;
    overflow-y: hidden; /* Hide vertical scrollbar */
    overflow-x: hidden;
  }
}
.burger-menu_link {
  padding: 18px 35px;
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  line-height: 37px;
  text-decoration: none;
  a {
    color: #fff;
  }
}
@media screen and (min-width: 1140px) {
  .burger-menu_button {
    right: 0;
  }
}
